body{
    background-color:rgb(193, 170, 247);
    
}
.spant{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(80, 80, 192);
}
.spane{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(201, 69, 135);
}
span{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header{
display: flex;
justify-content: space-between;
font-family: serif;
font-size: large;
color: rgb(241, 75, 139);
background-color: rgb(26, 24, 24);

}
.tab{
    display: flex;
    flex-direction: row;
}
.header a{
    text-decoration: none;
    color:rgb(241, 75, 139) ;


}
.header a:hover{
    background-color:rgb(243, 210, 223);
    color: rgb(238, 149, 15);
    border: none;
    transform: scale(1.1);
    transition: all .5s;
    border-radius: 10px;
   padding: 5px;
    
}
.img1{
object-fit: cover;
    width: 300px;
    height: 500px;
    display: flex;
      
}
/* .box1{
    /* display: flex;
    justify-content: space-between ;
  padding-top: 20px; */
/* } */ 
.img2{
    width: 200px;
    height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
}
.link{
    display: flex;
    flex-direction: column;
}
h3{
    text-align: center;
    color: rgb(231, 65, 148);
}
 /* .box2{
    justify-content: space-between;
    padding: 10px;
    flex-direction: column;
} */

 /* .side{
     background-color: rgb(241, 217, 231);
    border-radius: 5px;
    width: 10%;
    display: flex;
   flex-direction: column;
    color:  rgb(231, 65, 148);
height: 340px;
    font-family: serif;
    
 } */

 .side a{
     text-decoration: none;
     color:  rgb(231, 65, 148);
 }
 .side a :hover{
    background-color:rgb(243, 210, 223);
    color: rgb(238, 149, 15);
    border: none;
    transform: scale(1.1);
    transition: all .5s;
    border-radius: 10px;
    padding: 5px;
 }
 .dash{
     display: flex;
    flex-direction: column;
 }
 .box3{
    display: flex;
    justify-content: space-between ;
  padding-top: 5px;
  /* padding-left:230px; */
 }
.logo{
  background-color: rgb(241, 217, 231);
  display: flex;
  flex-direction: row;
  height: 50px;
  
}
.logo1{
    background-color: rgb(241, 217, 231);
    display: flex;
    flex-direction: row;
    height: 50px;
     margin-top: 70px;
     background: transparent;
}
.logo1 img{
    width: 50px;
    height: 50px;
}
.logo img{
    width: 50px;
    height: 50px;
}

.search{
    border: none;
    max-width:350px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    outline: none;
    border-radius: 20px;
}
.bar{
    padding:20px;
    font-size: 20px;
    color:rgb(102, 102, 223) ;
}
button{
    border: none;
    color:  rgb(74, 57, 168);
    padding: 10px;
    border-radius: 10px;
}
button:hover{
    background-color:rgb(238, 181, 209);
    color: rgb(238, 149, 15);
    border: none;
    transform: scale(1.1);
    transition: all .5s;
    border-radius: 10px;
}
.btn{
    height: 40px;
    display: flex;
    flex-direction: row;
}
.link a{
    text-decoration: none;
}
.link{
    padding: 2px;
}
.grp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
/* .grp .img{
    width:200px;
    height: 300px;
} */
.grp img{
    max-width:600px;
    max-height:300px;
}
html{
max-width=100%}
.footer{
    background-color: rgb(26, 24, 24);
    height:400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    
}
.inner{
    background-color:  rgb(108, 108, 112);
    display: flex;
    flex-direction: column;
    width: 120px;
    justify-content: space-between;
    text-align: justify;
    padding-left: 20px;
    color:rgb(245, 239, 241);

}
.inner a{
    text-decoration: none;
    color: rgb(245, 239, 241);
}
.inner a :hover{
    background-color:rgb(243, 210, 223);
    color: rgb(238, 149, 15);
    border: none;
    transform: scale(1.1);
    transition: all .5s;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
}
h2{
    color:  rgb(231, 65, 148);
    padding-left: 10px;
    text-decoration: underline white;
}
.side2{
    background-color:   rgb(108, 108, 112);
    display: flex;
    flex-direction: column;
    max-width: 115px;
    justify-content: space-between;
    text-align: justify;
    padding-left: 20px;
    color:rgb(245, 239, 241);
   max-height: 230px;
}
.side2 a{
    text-decoration: none;
    color: rgb(245, 239, 241);
}
.side2 a :hover{
    background-color:rgb(243, 210, 223);
    color: rgb(238, 149, 15);
    border: none;
    transform: scale(1.1);
    transition: all .5s;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
}
section{
    background-color:  rgb(241, 217, 231);
}
.key{
    display: flex;
    flex-direction: column;
}
.dropbtn {
    background-color:  rgb(231, 65, 148);
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    border: none;
    width: 50px;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
      max-width:150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 300px;
    
  }
  
  .dropdown-content a {
    color: rgb(231, 65, 148);
    padding: 5px ;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:active {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:active .dropbtn {background-color:  rgb(231, 65, 148);}

    @media screen and (max-width: 800px) {
        .header, body, .search,.dropdown-content,.box3,section {
            width: 100%;
        }
}
